<div class="container mt-5">
  <div class="col-6">
    <form  [formGroup]="formBuscarPokemon">
      <label for="inputSearchPokemon" class="form-label">Listado de Pokemon</label>
      <input type="search" class="form-control search" id="inputSearchPokemon" placeholder="Buscar"
             formcontrolname="buscarPokemon" [(ngModel)]="_busquedaPokemonInterface.buscarPokemon" [ngModelOptions]="{standalone: true}">
    </form>
  </div>
  <div class="col-6 align-self-end">
    <button type="button" class="btn btn-primary"  (click)="CargarFormPokemones()">
      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-plus-lg"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
      </svg>
      Nuevo</button>
  </div>
  <div class="div-tabla">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th class="text-center">Nombre</th>
          <th class="text-center">Imagen</th>
          <th class="text-center">Ataque</th>
          <th class="text-center">Defensa</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataPokemon | busquedaPokemonPipe:_busquedaPokemonInterface.buscarPokemon ; let i = index">
          <td>{{item.name}}</td>
          <td class="text-center"><img src="{{item.image}}" class="img-thumbnail" alt="Responsive image"></td>
          <td>{{item.attack}}</td>
          <td>{{item.defense}}</td>
          <td>
            <button type="button" class="btn btn-link btn-sm" id="button-{{item.id}}" (click)="EditarPokemon(item.id)"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil"
              viewBox="0 0 16 16">
              <path
                d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
            </svg>
          </button>
            <button type="button" class="btn btn-link btn-sm" id="buttonDelete-{{item.id}}" (click)="EliminarPokemon(item.id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
              viewBox="0 0 16 16">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
          </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <div class="nuevoPokemon mt-5" *ngIf="flagFormNuevo">
    <p class="text-center" *ngIf="!flagEditar">Nuevo Pokemon</p>
    <p class="text-center" *ngIf="flagEditar">Editar Pokemon</p>
  <form [formGroup]="formDatosPokemon" >
    <div class="col-6">
      <div class="row">
        <div class="col-2">
          <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
        </div>
        <div class="col-10">
          <input type="text" class="form-control" id="inputNombre" formControlName="name" [(ngModel)]="_datosPokemonInterface.name">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-2">
          <label for="inputAtaque" class="col-sm-2 col-form-label">Ataque</label>
        </div>
        <div class="col-10">
          <span> 0 </span> <input type="range" class="form-control-range" min="0" max="100" id="inputAtaque" formControlName="attack" [(ngModel)]="_datosPokemonInterface.attack"><span> 100</span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-2">
          <label for="inputImagen" class="col-sm-2 col-form-label">Imagen</label>
        </div>
        <div class="col-10 pt-2">
          <input type="text" class="form-control" id="inputImagen" formControlName="image" [(ngModel)]="_datosPokemonInterface.image">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col-2">
          <label for="inputDefensa" class="col-sm-2 col-form-label">Defensa</label>
        </div>
        <div class="col-10 pt-2">
          <span> 0 </span> <input type="range" class="form-control-range" min="0" max="100" id="inputDefensa"  formControlName="defense" [(ngModel)]="_datosPokemonInterface.defense"><span> 100 </span>
        </div>
      </div>
    </div>
    <div class="row mt-5" *ngIf="mensajeEvento!=''">
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{mensajeEvento}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    <div class="col-6  align-self-end">
      <button type="submit" id="liveAlertBtn" class="btn btn-primary"  [disabled]="(!formDatosPokemon.valid && flagEditar)" *ngIf="flagEditar" (click)="ActualizarPokemon(idEditar)">Editar</button>
      <button type="submit" class="btn btn-primary" [disabled]="(!formDatosPokemon.valid && !flagEditar)" *ngIf="!flagEditar" (click)="NuevoPokemon()">Agregar</button>
    </div>
    <div class="col-6">
      <button type="submit" class="btn btn-primary" (click)="LimpiarPokemon()">Cancelar</button>
    </div>
  </form>
  </div>

</div>
