body{
  background-color: #f4f4f4!important;
}

/* alineacion */
.container {
  width: 1000px;
  margin: 0 auto;
}
.col-2 {
  width: 20%;
  float: left;
}

.col-4 {
  max-width: 33.33%;
  float: left;
}

.col-6 {
  width: 46%;
  max-width: 50%;
  float: left;
  margin-left: 20px;
  min-height: 80px;
}

.col-10 {
  width: 80%;
  float: left;
}

.align-self-end {
  text-align: end;
}

.mt-5 {
  margin-top: 30px;
}
.text-center{
  text-align: center;
}

/* formulario */
.btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #6558e2;
  border-color: #6558e2;
  height: 40px;
}

.btn-link {
  font-weight: 400;
  color: #6558e2;
  background-color: transparent;
}

.form-control {
  display: block;
  width: 90%;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control.search {
  width: 200px;
  height: 30px;
}


input.search {
  display: block;
  padding: 9px 4px 9px 40px;
  background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' class='bi bi-search' viewBox='0 0 26 26'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.div-tabla {
  width: 100%;
  margin-top: 30px;
  float: left;
}

table {
  background-color: #fff;
  border: 1px solid #ced4da;
  width: 960px;
  margin: 0 auto;
  border-collapse: collapse
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border: 2px solid #ced4da;
  padding-left: 5px;
}

.img-thumbnail {
  max-width: 70px;
}

.nuevoPokemon {
  background-color: #fff;
  border: 1px solid #ced4da;
  width: 903px;
  max-width: 1000px;
  float: left;
  padding: 48px;
}

